body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #f4f4f4;
}

.guessField, .guessSubmit {
    padding: 10px;
    margin: 10px;
}

.resultParas {
    margin-top: 20px;
}
